:root {
  /* Link colors */
  --link-color: rgb(35, 201, 255);
  --link-color-dark: rgb(27, 152, 193);

  --highlight-color1: rgb(7, 190, 184);
  --highlight-color2: rgb(176, 255, 146);
}

@font-face {
    font-family: 'Kiona'; 
    src: url('../fonts/Kiona-Regular.ttf');
}


@font-face {
    font-family: 'ModernSans'; 
    src: url('../fonts/ModernSans-Light.otf');
}

@font-face {
    font-family: 'CODE';
    src: url('../fonts/CODE Bold.otf');
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgb(244, 244, 244);
}

.image-loader {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    
    background: rgb(220,220, 220);
    
    overflow: hidden;
}

.fill-image {
    width: 100%;
}

.content-title {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 4em;
    font-family: 'CODE', sans-serif;
    font-weight: bold;
}

.content-title-container {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 9em;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
    
    cursor: default;
}

.image-loader .description {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1.2em;
    padding: 1em;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    font-weight: bold;
    
    color: white;
}

.image-loader .description:hover {
    color: rgb(200, 200, 200);
    cursor: pointer;
}

.title-container {
    font-family: 'Kiona', sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 33%;
}

.title-container .title {
    font-size: 5em;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    display: inline-block;
}

.title-container .subtitle {
    font-size: 2em;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: inline-block;
}

.title-container .subtitle::after {
    content: '';
    display: block;
    position: relative;
    left: 110%;
    bottom: 0.5em;
    width: 0;
    height: 0.05em;
    background: white;
    transition: 2s;
}

.title-container .subtitle::before {
    content: '';
    display: block;
    position: relative;
    left: -10%;
    bottom: -0.7em;
    width: 0;
    height: 0.04em;
    background: white;
    transition: 2s;
}

.title-container .subtitle.filled::after {
    width: 100%;
}

.title-container .subtitle.filled::before {
    width: 100%;
    left: -110%;
}


@media only screen and (max-width: 550px) {
    .title-container .subtitle::after {
        left: 110%;
    }

    .title-container .subtitle::before {
    }

    .title-container .subtitle.filled::after {
        width: 30%;
    }

    .title-container .subtitle.filled::before {
        width: 30%;
        left: -40%;
    }
}

.content-container {
    column-count: 2;
    margin: 3em;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.content-container .content-item {
    display: inline-block;
    width: calc(100% - 6em);
    max-width: 400px;
    
    background: rgb(231, 232, 235);
    border-radius: 14px;
    overflow: hidden;
    
    margin-bottom: 3em;
    padding: 0;
    
    text-align: left;
    line-height: 1.8em;

}

.content-item.content-item-link {
    cursor: pointer;
}

.content-container .content-item p {
    margin: 1em;
    font-size: 1.1em;
    
    padding-bottom: 2em;
    padding-left: 1em;
    padding-top: 2em;
    padding-right: 1em;
}

.content-item.content-item-link p {
    font-size: 2.2em;
    line-height: 1.8em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    font-weight: bold;
}


@media only screen and (max-width: 800px) {
    .content-container {
        column-count: 1;
        margin: 3em;
    }
    
    .content-container .content-item {
        width: calc(500px - 2em);
    }
}

@media only screen and (max-width: 600px) {
    .content-container .content-item {
        width: calc(100% - 2em);
    }
}

