:root {
  /* Link colors */
  --link-color: rgb(35, 201, 255);
  --link-color-dark: rgb(27, 152, 193);

  --highlight-color1: rgb(7, 190, 184);
  --highlight-color2: rgb(176, 255, 146);
}

@font-face {
    font-family: 'Kiona'; 
    src: url('../fonts/Kiona-Regular.ttf');
}


@font-face {
    font-family: 'ModernSans'; 
    src: url('../fonts/ModernSans-Light.otf');
}

@font-face {
    font-family: 'CODE';
    src: url('../fonts/CODE Bold.otf');
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgb(244, 244, 244);
}

html {
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

/*
.main-content {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-content > .image-loader {
    
    transform: translateZ(-0.5px) scale(1.5);
    z-index: -1;
}

.main-content > .image-loader > * {
    
    transform: scale(1.0) translateZ(0.5px);
    z-index: 1;
}

.main-content > .image-loader.small-perspective {
    transform: translateZ(-0.25px) scale(1.25);
}

.main-content > .content-loader {
    display: block;
    position: relative;
    background: rgb(244, 244, 244);
    z-index: 1;
    
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 4em;
    padding-bottom: 4em;
}
*/

.image-loader {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    
    background: rgb(220,220, 220);
    
    overflow: hidden;
}

.fill-image {
    width: 100%;
}

.content-title {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 4em;
    font-family: 'CODE', sans-serif;
    font-weight: bold;
}

.content-title-container {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 9em;
}

.image-profile-container {
    width: 100%;
    max-width: 150px;
    width: 50%;
    margin: 0 auto;
}

.image-profile {
    border-radius: 100%;
    border: solid 0.2em white;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
    
    cursor: default;
}

.image-loader .description {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1.2em;
    padding: 1em;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    font-weight: bold;
    
    color: white;
}

.image-loader .description:hover {
    color: rgb(200, 200, 200);
    cursor: pointer;
}

.title-container {
    font-family: 'Kiona', sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 33%;
}

.title-container .title {
    font-size: 5em;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    display: inline-block;
}

.title-container .subtitle {
    font-size: 2em;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: inline-block;
}

.title-container .subtitle::after {
    content: '';
    display: block;
    position: relative;
    left: 110%;
    bottom: 0.5em;
    width: 0;
    height: 0.05em;
    background: white;
    transition: 2s;
}

.title-container .subtitle::before {
    content: '';
    display: block;
    position: relative;
    left: -10%;
    bottom: -0.7em;
    width: 0;
    height: 0.04em;
    background: white;
    transition: 2s;
}

.title-container .title-scroll-indicator {
    transform: rotate(90deg) scaleX(0.8) scaleY(1.2);
    font-size: 4em;
    font-family: 'Kiona', sans-serif;   
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    
    -webkit-animation: 4s ease-in 0s content-fadein, bounce 1s infinite alternate-reverse; 
       -moz-animation: 4s ease-in 0s content-fadein, bounce 1s infinite alternate-reverse; 
        -ms-animation: 4s ease-in 0s content-fadein, bounce 1s infinite alternate-reverse; 
         -o-animation: 4s ease-in 0s content-fadein, bounce 1s infinite alternate-reverse;
            animation: 4s ease-in 0s content-fadein, bounce 1s infinite alternate-reverse;

}

@keyframes content-fadein {
    0% { opacity: 0; }
    60% { opacity: 0; }
    100%   { opacity: 1; }
}

@-moz-keyframes content-fadein {
    0% { opacity: 0; }
    60% { opacity: 0; }
    100%   { opacity: 1; }
}

@-webkit-keyframes content-fadein {
    0% { opacity: 0; }
    60% { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes bounce {
    0% { transform: translateY(0em) rotate(90deg) scaleX(0.8) scaleY(1.2); }
    100% { transform: translateY(0.2em) rotate(90deg) scaleX(0.8) scaleY(1.2); }
}

@-moz-keyframes bounce {
    0% { transform: translateY(0em) rotate(90deg) scaleX(0.8) scaleY(1.2); }
    100% { transform: translateY(0.2em) rotate(90deg) scaleX(0.8) scaleY(1.2); }
}

@-webkit-keyframes bounce {
    0% { transform: translateY(0em) rotate(90deg) scaleX(0.8) scaleY(1.2); }
    100% { transform: translateY(0.2em) rotate(90deg) scaleX(0.8) scaleY(1.2); }
}

.title-container .subtitle.filled::after {
    width: 100%;
}

.title-container .subtitle.filled::before {
    width: 100%;
    left: -110%;
}


@media only screen and (max-width: 550px) {
    .title-container .subtitle::after {
        left: 110%;
    }

    .title-container .subtitle::before {
    }

    .title-container .subtitle.filled::after {
        width: 30%;
    }

    .title-container .subtitle.filled::before {
        width: 30%;
        left: -40%;
    }
}

.nav-container-offset {
    position: fixed;
    left: 15px;
    top: 15px;
}

.nav-container {
    padding-left: 0.5em;
    padding-right: 0.5em;
    
    border-radius: 4px;
    
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(128, 130, 134, 0.5);

    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
    
    opacity: 0.0;
    transition: 0.33s;
    transition: opacity 2s;
}

.nav-container.visible {
    opacity: 1.0;
}

.nav-button {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5em;
    font-family: sans-serif;
}

.nav-button:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.nav-list {
    display: none;
    transition: 0.33s;
    margin-top: 1em;
}

.nav-list.visible {
    display: block;
}

.nav-list-item {
    color: rgba(255, 255, 255, 0.5);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-right: 2em;
    
    border-top: solid thin rgba(255, 255, 255, 0.1);
    
    font-weight: bold;
    font-size: 1.2em;
}

.nav-list-item:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.content-container {
    column-count: 2;
    margin: 3em;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.content-container.profile-container {
    column-count: 1;
}

.content-container .content-item {
    display: inline-block;
    width: calc(100% - 6em);
    max-width: 400px;
    
    background: rgb(231, 232, 235);
    border-radius: 14px;
    overflow: hidden;
    
    margin-bottom: 3em;
    padding: 0;
    
    text-align: left;
    line-height: 1.8em;

}

.content-item.content-item-link {
    cursor: pointer;
}

.content-item.content-item-bounce {
    transition: transform 0.8s cubic-bezier(0.160, 1.265, 0.230, 1.650);
}

.content-item.content-item-bounce:hover {
    transform: scale(1.08);
}

.content-container .content-item p {
    margin: 1em;
    font-size: 1.1em;
    
    padding-bottom: 2em;
    padding-left: 1em;
    padding-top: 2em;
    padding-right: 1em;
}

.content-item.content-item-link p {
    font-size: 2.2em;
    line-height: 1.8em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    font-weight: bold;
}

@media only screen and (max-width: 1080px) {
    .content-container .content-item p {
        margin: 0em;
    }
}


@media only screen and (max-width: 800px) {
    .content-container {
        column-count: 1;
        margin: 3em;
    }
    
    .content-container .content-item {
        width: calc(500px - 2em);
    }
    
    .content-container .content-item p {
        margin: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .content-container .content-item {
        width: calc(100% - 2em);
    }
    
    .content-container {
        margin-left: 2%;
        margin-right: 2%;
    }
    
    body, html {
        font-size: 0.9fem;   
    }
    
    .content-title {
        padding-left: 0em;
        padding-right: 0em;
        
        font-size: 3.5em;
    }

    .content-title-container {
        padding-left: 2%;
        padding-right: 2%;
    }
}

