@font-face {
    font-family: Code;
    font-weight: normal;
    src: url('../resources/fonts/CODE Light.otf');
}

@font-face {
    font-family: Code;
    font-weight: bold;
    src: url('../resources/fonts/CODE Bold.otf');
}

@font-face {
    font-family: LarkeNeue;
    font-weight: normal;
    src: url('../resources/fonts/Larke Neue Regular.ttf');
}

@font-face {
    font-family: LarkeNeue;
    font-weight: bold;
    src: url('../resources/fonts/Larke Neue Bold.ttf');
}

@font-face {
    font-family: LarkeNeue;
    font-weight: 300;
    src: url('../resources/fonts/Larke Neue Thin.ttf');
}

@font-face {
    font-family: VeraMono;
    font-weight: normal;
    font-style: normal;
    src: url('../resources/fonts/VeraMono.ttf');
}

@font-face {
    font-family: VeraMono;
    font-weight: bold;
    font-style: normal;
    src: url('../resources/fonts/VeraMoBd.ttf');
}

@font-face {
    font-family: VeraMono;
    font-weight: normal;
    font-style: italic;
    src: url('../resources/fonts/VeraMoIt.ttf');
}

@font-face {
    font-family: VeraMono;
    font-weight: bold;
    font-style: italic;
    src: url('../resources/fonts/VeraMoBI.ttf');
}

.titleFont {
    font-family: Code, Arial, Helvetica, sans-serif;
}

.bodyFont {
    font-family: LarkeNeue, Arial, Helvetica, sans-serif;
}

.monospaceFont {
    font-family: VeraMono, "Lucida Console", Monaco, monospace;
}